- name: Fix line endings
  run: sed -i 's/\r$//' gradlew

- name: Grant execute permission for gradlew
  run: chmod +x ./gradlew

- name: Build Debug APK
  run: ./gradlew :app:assembleDebug --no-daemon
